.servece-card{
    border-radius: 10px;
    overflow: hidden;
    width: 550px;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    background:blue;
    margin: 14px 14px 14px 81px;
}
.card-title{
        color: white;
    
}
.title {
    color: white;
    margin: 0 0 20px;;
}
.image{
    width: 400px;
    align-self: flex-end;
    position: relative;
    right: -120px;
}